{% extends "base.html" %}
{% block body %}
<main>
        <!-- breadcrumb area start -->
        <div id="appnox-breadcrumb-area" class="appnox-breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>About Author</h2>
                        <ul class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">软工01</li>
                            <li class="breadcrumb-item">黄子荣</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->
        <!-- blog area start -->
        <div id="appnox-latest-blog-area" class="appnox-latest-blog-area mt-100 mb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 wow fadeInUp pr-45">

                        <div class="blog-details-wraper">
                            <div class="blog-details-content">
                                <p>It is a long established fact that a reader will be distracted by the readable of a page when this looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum</p>
                                <h3>we’re fortunate to work with worldwide clients</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable of a page when this looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                <p>It is a long established fact that a reader will be distracted by the readable of a page when this looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                <blockquote class="block-quote">
                                    <p>黄子荣</p>
                                </blockquote>
                                <p>It is a long established fact that a reader will be distracted by the readable of a page when this looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
                                <p>It is a long established fact that a reader will be distracted by the readable of a page when this looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <!-- search wedget -->
                        <div class="single-sid-wdg sm-mt-30">
                            <img src="static/picture/bai.png" alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog area end -->
         <!-- footer area start -->
        <footer id="appnox-footer-area" class="appnox-footer-area pt-10">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="footer-copyright text-center pt-40 pb-40">
                            <p>一起守护最好的二次元</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->
    </main>
{% endblock %}